/*----------------------------------------
  Folder Section Container
----------------------------------------*/
.folders-section {
    position: relative;
    width: 100%;

}

/*----------------------------------------
  Folder General Styles
----------------------------------------*/
.folder {
    display: flex;
    flex-direction: column;

    /* Sticky accordion behavior */
    position: sticky;
    top: 100px;
    margin-bottom: 0px;

    /* Transitions for transform & box-shadow */
    transition: transform 240ms cubic-bezier(.22,.9,.35,1), box-shadow 240ms, z-index 0ms;
    will-change: transform;
}

/* Active folder state */
.folder.active {
    transform: translateY(-12px) scale(1.01);
    z-index: 5; /* lift above others */
    box-shadow: 0 18px 40px rgba(30,30,30,0.07);
}

/* Active folder Name styling */
.folder.active .Name {
    transform: translateY(-6px);
    transition: transform 220ms ease-out;
}

/*----------------------------------------
  Folder Backgrounds
----------------------------------------*/
.yellow {
    background-image: url("../Assets/folder1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-self: center;
    aspect-ratio: 1229.586 / 811;
    width: 96%;
}

.pink {
    background-image: url("../Assets/folder2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-self: center;
    aspect-ratio: 1229.586 / 811;
    width: 96%;
}

.Blue {
    background-image: url("../Assets/folder3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-self: center;
    aspect-ratio: 1231.074 / 811;
    width: 96%;
}

.green {
    background-image: url("../Assets/folder4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-self: center;
    aspect-ratio: 1229.586 / 811;
    width: 96%;
}

/*----------------------------------------
  Folder Content
----------------------------------------*/
.content {
    width: 98%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 31px;
    align-items: flex-start;
    padding-left: 2%;
}

/*----------------------------------------
  Folder Name
----------------------------------------*/
.Name {
    color: #1E1E1E;
    font-family: "JetBrains Mono";
    font-size: 40px;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 30px;
    font-weight: 700;
    line-height: normal;
}

/*----------------------------------------
  Padding for individual folders
----------------------------------------*/
.one { padding-left: 2%; }
.two { padding-left: 33%; }
.three { padding-left: 60%; }
.four { padding-left: 85%; }
