.header{
  position: relative;
  width: 100%;
  height: 770px; 
  font-family: "JetBrains Mono";
  overflow: hidden;
}


.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;

  height: 110%;
  object-fit: cover; 
  z-index: -2;
}
.width{
   width: 150%;
  position: relative;
  z-index: 4;
  font-family: "JetBrains Mono";
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: -10%;
    display: flex;
        height: 100%;
}
.rightt{

position: absolute;
z-index: 0;
display: flex;
width: 98%;
padding-left: 1%;
height: 50%;
padding-right: 1%;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
bottom: 0;
color: #D9C9B3;

text-align: right;
font-family: "JetBrains Mono";

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 16px;
flex-shrink: 0;
}
.textdown{
display: flex;
font-family: "JetBrains Mono";
justify-content: space-between;
align-items: flex-end;
align-self: stretch;
}
.textrightdown{
  width: 50%;
}
.textrightup{
  width: 203px;
height: 50px;
}