.Work {
height: 550px;
  width: 100%;



flex-direction: column;
  display: flex;
padding-bottom: 50px;
  justify-content: flex-end;
  align-items: flex-end;
overflow-x: hidden;

}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
    width: 95%;
      height: 500px;
padding-left: 5%;
  gap: 120px; /* initial spacing */
}

.card-wrapper {
  flex-shrink: 0;
  transition: transform 0.4s ease;
}
