.Work {
  height: 500px;
  width: 95%;
padding-left: 5%;

  display: flex;
padding-top: 100PX;
  justify-content: flex-start;
  align-items: flex-start;
overflow-x: hidden;
background-color: aliceblue;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 120px; /* initial spacing */
}

.card-wrapper {
  flex-shrink: 0;
  transition: transform 0.4s ease;
}
