.contactt{
    color: #8A1E3E;
margin-left: 50px;
-webkit-text-stroke-width: 1.56px;
-webkit-text-stroke-color: #8A1E3E;
font-family: GayaTrial;
font-size: 199.078px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 11.945px;
}
.Contact {
width: 100%;
margin:0 auto;
position: relative;
z-index: 0;
      background-color: #FEFAF9;
  background-image: url(../Assets/image-from-rawpixel-id-12504330-png.png); /* semi-transparent PNG */
  background-repeat: repeat;
  background-size: auto;
}
.lets{
    color: #1E1E1E;

font-family: "JetBrains Mono";
font-size: 120.826px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 10.874px;
}
.gnbb3d{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 300px;

    align-items: center;
    justify-items: center;
    justify-content: center;
}