.homeee {
width: 100%;

position: relative;
z-index: 0;
      background-color: #FEFAF9;
  background-image: url(../Assets/image-from-rawpixel-id-12504330-png.png); /* semi-transparent PNG */
  background-repeat: repeat;
  background-size: auto;
}
.navbarr{
    display: flex;
width: 100%;
}
/* Target the scrollbar for modern browsers */
::-webkit-scrollbar {
  width: 12px; 
  height: 12px;
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #ffedf4; 
  border-radius: 20px;
  margin: 4px; 
  box-shadow: inset 0 0 5px #ffe8ee;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
   background: #8A1E3E; /* cute pink gradient */
  border-radius: 20px;
  border: 3px solid  #8A1E3E;/* adds a soft outline */
  transition: all 0.3s ease;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #a41943;;
  box-shadow: 0 0 8px #ff99bb;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
width: 98%;
padding-left: 2%;
gap: 20px;
margin-bottom: 50px;
}
.dottedinteractionthingie{
  display: flex;
  margin-top: 50px;
 border-top: #1E1E1E 2px solid;
  flex-direction: row;
}
.ttl{
  
    color: #8A1E3E;
padding: 0%;
margin: 0%;
font-family: GayaTrial;
font-size: 48.994px;
font-style: italic;
font-weight: 400;
line-height: 110.606%; /* 54.19px */
}
.captiont{
    color: #1E1E1E;
font-family: "JetBrains Mono";
font-size: 24px;
padding: 0%;
margin: 0%;
font-style: normal;
font-weight: 400;
line-height: 110.606%;
}
.titleee{
  width: 50%;
  border-right: #1E1E1E 2px solid;
  display: flex;
padding-left: 2%;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 35px;
flex: 1 0 0;
}