.work {
width: 100%;
margin:0 auto;
position: relative;
z-index: 0;
      background-color: #FEFAF9;
  background-image: url(../Assets/image-from-rawpixel-id-12504330-png.png); /* semi-transparent PNG */
  background-repeat: repeat;
  background-size: auto;
}
.Carddds{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
margin-top: 50px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}